.card {
    background-color: #234;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;  
}

.card.passed {
     visibility: hidden;
}

.card img {
    width: 90%;
    height: 90%;
}
