.card {
    background-color: #234;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em; 
}

.card.passed {
    visibility: hidden;
}

.card img {
    width: 90%;
    height: 90%;
}

.card.hidden {
    animation: 0.5s hideCard ease-in-out;
}

.card.hidden {
    animation: 0.5s hideCard ease-in-out;
}

.card.shown {
    animation: 0.5s showCard ease-in-out;
}

.card.passed {
    visibility: hidden;
}

@keyframes showCard {
    from {
        transform: rotateY(90deg);
    }
    to {
        transform: rotateY(0);
    }
}

@keyframes hideCard {
    from {
        transform: rotateY(90deg);
    }
    to {
        transform: rotateY(0);
    }
}
